@import './variables.scss';

.hero-banner {
    /* Hero BG */
    height: 820px;
    background: linear-gradient(180deg, #138086 -444.92%, rgba(19, 128, 134, 0.03) 100%);

    /* Developer Photo */
    .dev-profile {
        img {
            position: absolute;
            width: 600px;
            left: 736px;
            top: 100px;
        }
    }
}