@import './variables.scss';

.hero {
    height: 820px;
    background: linear-gradient(180deg, #138086 -444.92%, rgba(19, 128, 134, 0.03) 100%);

    .hero-banner {
        /* Hero BG */


        // BG images
        .circle-bg {

            .circle1 {
                img {
                    position: absolute;
                    left: 104px;
                    top: 180px;

                }
            }

            .circle2 {
                img {
                    position: absolute;
                    left: 344px;
                    top: 735px;


                }
            }

            .circle3 {
                img {
                    position: absolute;
                    width: 600px;
                    height: 600px;
                    left: calc(50% - 577px/2 + 316px);
                    top: 100px;
                }
            }


        }

        /* Developer Photo */
        .dev-profile {
            img {

                position: absolute;
                width: 557px;
                left: calc(50% - 577px/2 + 316px);
                top: 100px;


            }
        }


        /*Hero txt */

        .hero-text {
            padding-top: 21.06rem;
            padding-left: 6.5rem;

            &-intro {
                font-family: $primary-font;
                font-weight: 400;
                font-size: 3.75rem;
                color: #062628;

                span {
                    color: $primary;
                }
            }

            &-title {
                font-family: $primary-font;
                font-weight: 400;
                font-size: 2.81rem;
                color: $primary;
                margin-top: 2.5rem;
                
            }

            &-note {
                font-family: $secondary-font;
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 2rem;
                text-align: justify;
                color: $text-color;
                width: 27.75rem;
                margin-top: 2.5rem;
            }


        }


    }
}