@import './variables.scss';

.hero {
    height: 820px;

    .hero-banner {
        /* Hero BG */
        background: linear-gradient(180deg, #138086 -444.92%, rgba(19, 128, 134, 0.03) 100%);


        // BG images
        .circle-bg {

            .circle1 {
                img {
                    position: absolute;
                    left: 104px;
                    top: 180px;

                }
            }

            .circle2 {
                img {
                    position: absolute;
                    left: 344px;
                    top: 735px;


                }
            }

            .circle3 {
                img {
                    position: absolute;
                    width: 600px;
                    height: 600px;
                    left: calc(50% - 577px/2 + 316px);
                    top: 100px;
                }
            }







            // .circle3 {
            //     position: absolute;
            //     width: 200px;
            //     height: 200px;
            //     left: 1100px;
            //     top: 300px;
            // }
        }

        /* Developer Photo */
        .dev-profile {
            img {

                position: absolute;
                width: 557px;
                left: calc(50% - 577px/2 + 316px);
                top: 100px;


            }
        }


        /*Hero txt */

        .hero-text {
            width: 606px;

            .intro {
                font-family: 'DM Serif Display';
                font-weight: 400;
                font-size: 3.75rem;
                width: 606px;
                color: #062628;

                span {
                    color: $primary;
                }

                p {
                    font-size: 2.81rem;
                }
            }
        }


    }
}