* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary: #138086;
$secondary: #062628;
$text-color: #6C6C6C;
$btn-text-color: #E7F2F3;
$gradient: linear-gradient(90deg, #1B4541 0%, #062628 100%);
$primary-font: 'dm serif display', serif;
$secondary-font: 'Roboto', sans-serif;